:root {
  --color1: ;
  --color2: ;
  --color3: ;
}

/* The plan is to have 4 themes for the user to select from.
 Default: The regular theme (light mode).
 Pure: The dark mode theme.
 Melo: A bluish theme meant to emulate midnight.
 Solar: A light but warm theme. */

.pure {
  --color1: ;
  --color2: ;
  --color3: ;
}

.melo {
  --color1: ;
  --color2: ;
  --color3: ;
}

.solar {
  --color1: ;
  --color2: ;
  --color3: ;
}

html {
  overflow: hidden;
}

body {
  background: url("test_background.jpg");
}

.wrapper {
  display: grid;
  grid-template-columns: 60px;
  column-gap: 15px;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
}

nav {
  background: rgba(100, 100, 100, 0.75);
  color: white;

  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 1;

  border-radius: 15px;
}

.navButton {
  background-color: aqua;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 10px auto auto;

  width: 40px;
  height: 40px;
}

#workspace {
  background: rgba(100, 100, 100, 0.75);

  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 2;

  display: flex;
  border-radius: 15px;
}

#safezone {
  background-color: darkgray;
  position: static;
  margin: 20px;
  width: 100%
}